@using System.IO
@using System
@using System.Diagnostics
@inject NavigationManager NavigationManager

@page "/doc"
@page "/docs"

@page "/{Component}"
@page "/{Component}/{Area}"
@page "/{Component}/docs"
@page "/docs/{Component}"
@page "/docs/{Component}/{Area}"

@page "/docs/{Version:int}"
@page "/docs/{Version:int}/{Component}"
@page "/docs/{Version:int}/{Component}/{Area}"

<div class="width-all">
	<div class="width-90 container">
		<div class="row docs-row no-gutters">
			<div class="col-sm-3 docs-nav-col">
				<div class="row no-gutters">
					<div class="col text-center nav-version @(Version == 2 ? "selected":"")">
						@if(Version == 2) {
							<span>Steeltoe v2</span>
						} else {
							<Href href="@("/docs/2/" + Component + "/" + Area)">Steeltoe v2</Href>
						}
					</div>
					<div class="col text-center nav-version @(Version == 3 ? "selected":"")">
						@if(Version == 3) {
							<span title="Version 3 Milestone 2">Steeltoe v3-m2</span>
						} else {
							<Href href="@("/docs/3/" + Component + "/" + Area)" title="Version 3 Milestone 2">Steeltoe v3-m2</Href>
						}
					</div>
				</div>
				<div class="row no-gutters">
				<div class="col bg-white">
					@if(Version == 3) {
						<div class="text-center small bg-grey midnight-blue py-1">**This version is not generally available... yet**</div>
					}
					<DocsMenu Area="@(Area)" Component="@(Component)" Version="@(Version)" />
				</div></div>
			</div>
			<div class="col docs-content-col">
				<Docs Area="@(Area)" Component="@(Component)" Version="@(Version)" />
			</div>
		</div>
	</div>
</div>

@code {
	private string _area;
	private string _component;
	private int _version;
	private int currentVersion = 2;
	private string defaultArea = "overview";
	private string defaultComponent =  "welcome";

	[Parameter]
	public string Area {
		get { return (_area ?? defaultArea); }
		set { _area = value; }
	}

	[Parameter]
	public string Component {
		get { return (_component ?? defaultComponent); }
		set { _component = value; }
	}

	[Parameter]
	public int Version {
		get { return _version; }
		set {
			_version = (value < 2 || value > 3 || value == 0 ? currentVersion : value);
		}
	}
}